<!DOCTYPE html>
{% load static %}
<html>
<head><!--下一行：用UTF-8的編碼方式(可看中文)-->
    <meta charset="UTF-8"></meta> 
    <!--告訴搜尋引擎網頁描述-->
    <meta name="description" content="個人申請準備指引" />
    <!--告訴搜尋引擎作者-->
    <meta name="author" content="Frizulo" />
    <!--告訴搜尋引擎網頁關鍵字-->
    <meta name="keyword" content="個人申請準備指引, 個人申請, 學習歷程, 準備指引, 學習歷程檔案, 學習歷程檔案範例, 學習歷程自述, 個人申請113, 個人申請分數, 個人申請人數, 個人申請介紹, 個申, 個申準備, 個人申請簡章, 個申簡章, 大學升學管道, 升學, 準備, 學習歷程檔案, 學習歷程, 面試, 面試準備, 考古題, 面試考古題, 個申面試, 個人申請標準" />
    <!--視口設定-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--title網頁顯示標題-->
    <title>個人申請準備指引(๑•̀ㅂ•́)و✧</title>
    <!--引用styles.css-->
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
</head>
<body>
    <h1 style="margin: 0;">等待開發中...</h1>
</body>
</html>